@w: 100%;

.formatting-pm(){
  margin: 0;
  padding: 0;
}
.create-margin-padding(@n) when (@n > 0) {
  @unit: 1px;
  .create-margin-padding((@n - 5));
  .p@{n} {
    padding: @n * @unit;
  }
  .pt@{n} {
    padding-top: @n * @unit;
  }
  .pr@{n} {
    padding-right: @n * @unit;
  }
  .pb@{n} {
    padding-bottom: @n * @unit;
  }
  .pl@{n} {
    padding-left: @n * @unit;
  }
  .m@{n} {
    margin: @n * @unit;
  }
  .mt@{n} {
    margin-top: @n * @unit;
  }
  .mr@{n} {
    margin-right: @n * @unit;
  }
  .mb@{n} {
    margin-bottom: @n * @unit;
  }
  .ml@{n} {
    margin-left: @n * @unit;
  }
}
html,body,.root {
  width: @w;
  height: @w;
  .formatting-pm();
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  /*font-weight: 400;*/
  -webkit-font-smoothing: antialiased;
}
html{
    line-height: initial;
}
body{
    font-size: 0.32rem;
}
p {
  .formatting-pm();
}
img {
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  .formatting-pm();
}
ul,li {
  list-style: none;
  .formatting-pm();
}
a {
  text-decoration: none;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fl {
  float: left;
}
.fr {
  float: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.ov {
  overflow: hidden;
}
.bbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.loading {
  width: 100%;
  height: 100%;
  position: relative;
}
.loading-logo {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3rem 0 0 -1.5rem;
  background: url(../img/logo-01.png) no-repeat center;
  background-size: 100%;
}
.loading-txt {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  p {
    text-align: center;
    font-size: 0.26rem;
    color: #bbb;
  }
  p.f30 {
    font-size: 0.30rem;
    color: #999;
  }
}

/* index less */
.index {
  width: 100%;
  height: 100%;
  max-width: 640px;
  background: url(../img/index-bg.jpg) no-repeat center bottom;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.index-footer {
  width: 100%;
  background: url(../img/index-footer.png) no-repeat center bottom;
  background-size: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  ul {
    width: 100%;
    height: 100%;
    position: relative;
  }
  li {
    float: left;
    position: absolute;
    bottom: 0;
  }
  .index-zj,.index-my {
    width: 22.08%;
    height: 59.72%;
  }
  .index-hm {
    width: 16.12%;
    height: 76.39%;
  }
  .index-cz,.index-hy {
    width: 19.86%;
    height: 59.72%;
  }
  .index-zj,.index-my,.index-cz,.index-hy {
    &:before {
      content: '';
      width: 0.4rem;
      height: 0.4rem;
      display: block;
      margin: 0.05rem auto 0 auto;
    }
    &:after {
      content: '';
      width: 0.4rem;
      height: 0.4rem;
      display: block;
      margin: 0 auto;
    }
    &:before,&:after {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .index-zj {
    left: 0;
    &:before {
      background-image: url(../img/zj_49.png);
    }
    &:after {
      background-image: url(../img/zj_52.png);
    }
  }
  .index-cz {
    left: 22.08%;
    &:before {
      background-image: url(../img/cz_44.png);
    }
    &:after {
      background-image: url(../img/cz_30.png);
    }
  }
  .index-hm {
    left: 22.08% + 19.86%;
    background: url(../img/dt_33.png) no-repeat center;
    background-size: 40%;
  }
  .index-hy {
    left: 22.08% + 19.86% + 16.12%;
    &:before {
      background-image: url(../img/hy_36.png);
    }
    &:after {
      background-image: url(../img/hy_47.png);
    }
  }
  .index-my {
    right: 0;
    &:before {
      background-image: url(../img/my_41.png);
    }
    &:after {
      background-image: url(../img/my_27.png);
    }
  }
}
.index-header {
  width: 100%;
  background: url(../img/index-header.png) no-repeat center bottom;
  background-size: 100%;
  padding: .22rem .3rem;
  .avatar {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: block;
    float: left;
    &:before {
      content: '';
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: url(../img/tx_71.png) no-repeat center;
      background-size: 100%;
    }
    b {
      width: 0.86rem;
      height: 0.86rem;
      position: relative;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      border-radius: 50%;
      left: 0.08rem;
      top: 0.08rem;
    }
  }
  .info {
    width: 2rem;
    height: 1rem;
    padding: 0.05rem;
    float: left;
    margin-left: 0.15rem;
    span {
      width: 1.6rem;
      height: 0.4rem;
      line-height: 0.4rem;
      padding: 0 0.2rem;
      display: block;
      border-radius: 0.2rem;
      background-color: #080229;
      color: #fff;
      font-size: .2rem;
    }
    .name {
      margin-bottom: 0.1rem;
    }
    .balance {
      font-size: 0.26rem;
      font-weight: bold;
      font-family: Arial;
      color: #fccd53;
      &:before {
        content: '';
        width: 0.3rem;
        height: 0.3rem;
        display: inline-block;
        background: url(../img/zs_83.png) no-repeat center;
        background-size: 100%;
        position: relative;
        top: .05rem;
        margin-right: 0.1rem;
      }
    }
  }
  .room {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 2rem;
    background: url(../img/fh_14.png) no-repeat center;
    background-size: contain;
  }
  .share {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    background: url(../img/fx_16.png) no-repeat center;
    background-size: contain;
  }
}
.index-cot {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .gift {
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    top: 1.9rem;
    left: 0.3rem;
    background: url(../img/czyl_80.png) no-repeat center;
    background-size: contain;
  }
  ul {
    width: 100%;
    height: 100%;
    padding: 1.2rem 0.6rem 0.5rem 0.6rem;
    li {
      width: 40%;
      margin: 3% 5%;
      float: left;
      position: relative;
      img {
        width: 100%;
      }
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}


.progress {
  width: 50%;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0.5rem 0 0 -25%;
  background: #262626;
  padding: 3px;
  overflow: visible;
  border-radius: 20px;
  /*border-top: 1px solid #000;*/
  /*border-bottom: 1px solid #7992a8;*/
  text-align: center;
  .progress-value {
    color: #fff;
    position: relative;
    top: -.26rem;
    font-size: 0.26rem;
  }
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress .progress-bar{
  border-radius: 20px;
  position: relative;
  animation: animate-positive 2s;
  height: .2rem;
}
.progress-bar.active{
  animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
@-webkit-keyframes animate-positive{
  0% { width: 0; }
}
@keyframes animate-positive{
  0% { width: 0; }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}


.create-margin-padding(30);