<div class="index" ng-controller="indexCtrl" style="{{style}}">
  <div class="index-header bbox" style="{{indexHeaderStyle}}">
    <span class="avatar"><b style="background-image: url({{info.avatar}});"></b></span>
    <div class="info bbox">
      <span class="name">{{info.nickName}}</span>
      <span class="balance">{{info.coin}}</span>
    </div>
    <span class="room" ng-click="room()">房号进入</span>
    <span class="share">活动</span>
  </div>
  <div class="index-cot bbox" style="{{indexCotStyle}}">
    <!-- <span class="gift"></span>
    <ul class="bbox">
      <li ng-click="sxmj()"><img src="img/mjsz_03.png" /></li>
      <li><img src="img/mjsy_05.png" /></li>
      <li><img src="img/mjzx_11.png" /></li>
      <li><img src="img/mjsx_09.png" /></li>
      <li><img src="img/mjxc_22.png" /></li>
      <li><img src="img/mjzx_25.png" /></li>
    </ul> -->
    <div class="per"></div>
    <div class="list">
      <div>
        <img class="game-list" ng-repeat="(k, v) in list" ng-src="{{v.state == 'enable' ? v.icon_ready : v.icon_online}}" ng-click="create(v)" />
      </div>
    </div>
  </div>
  <div class="index-footer" style="{{indexFooterStyle}}">
    <ul>
      <li class="index-zj" onclick="javascript:location='#/main/score';"></li>
      <li class="index-cz" onclick="javascript:location='#/main/recharge';"></li>
      <li class="index-hm"></li>
      <li class="index-hy" onclick="javascript:location='#/main/vip';"></li>
      <li class="index-my" onclick="javascript:location='#/main/my';"></li>
    </ul>
  </div>
</div>