<div class="into" ng-controller="intoCtrl">
  <div class="top"></div>
  <div class="con">
    <img class="bg" src="../img/peng_73.png" />
    <div class="view">
      <a class="close" href="#/main/index"></a>
      <div class="v-con bbox">
        <div class="input bbox">{{room}}</div>
        <table>
          <tbody>
            <tr>
              <td ng-click="number(1)"><img src="../img/peng_59.png" /></td>
              <td ng-click="number(2)"><img src="../img/peng_60.png" /></td>
              <td ng-click="number(3)"><img src="../img/peng_61.png" /></td>
            </tr>
            <tr>
              <td ng-click="number(4)"><img src="../img/peng_62.png" /></td>
              <td ng-click="number(5)"><img src="../img/peng_63.png" /></td>
              <td ng-click="number(6)"><img src="../img/peng_64.png" /></td>
            </tr>
            <tr>
              <td ng-click="number(7)"><img src="../img/peng_65.png" /></td>
              <td ng-click="number(8)"><img src="../img/peng_66.png" /></td>
              <td ng-click="number(9)"><img src="../img/peng_67.png" /></td>
            </tr>
            <tr>
              <td ng-click="clear()"><img src="../img/peng_70.png" /></td>
              <td ng-click="number(0)"><img src="../img/peng_71.png" /></td>
              <td ng-click="delete()"><img src="../img/peng_72.png" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>