<!DOCTYPE html>
<html lang="zh" ng-app="app">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" name="viewport" />
  <meta content="嵊州麻将" name="keyword" />
  <meta content="嵊州麻将" name="description" />
  <meta content="heqiang" name="author" />
  <title>游戏大厅</title>
  <script type="text/javascript">
    (function(doc, win) {
      var docEl = doc.documentElement,
      resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
      recalc = function() {
        var clientWidth = docEl.clientWidth;
        if (!clientWidth) return;
        if (clientWidth >= 750) {
          docEl.style.fontSize = '100px';
        } else {
          docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
        }
      };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div class="root" ui-view></div>
  <div class="bg ng-hide" ng-show="share"></div>
  <div class="share-con ng-hide" ng-show="share">
    <div>
      <p>1、当天首次分享即可获得380钻石</p>
      <p>2、当天第二次以及以上分享，当帐户少于380钻石才可以获得380钻石</p>
      <small>* 点击微信右上角菜单然后即可进行分享</small>
    </div>
    <div>
      <!-- <button class="fl yl" ng-click="wxShare()">分享</button> -->
      <!-- <button class="fr" ng-click="hideShare()">取消</button> -->
      <button ng-click="hideShare()">关闭</button>
    </div>
  </div>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <!-- <script src="js/angular-toastr/angular-toastr.tpls.min.js"></script> -->
  <script src="js/angular-ui-router/angular-ui-router.min.js"></script>
  <!-- <script src="js/ng-dialog/ngDialog.min.js"></script> -->
  <script src="js/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="js/ngstorage/ngStorage.min.js"></script>
  <script src="js/oclazyload/ocLazyLoad.min.js"></script>
  <script src="app.js"></script>
</body>
</html>